@charset "utf-8";

body{
    max-width: 1000px;
    margin: auto;
    background-color: rgb(66, 63, 63);
}

main{
    border:1px solid rgb(170, 166, 166);
    border-radius: 5px;
    display: grid;
    grid-template-areas:"a  a   a"
                        "n  n   n"
                        "ar  ar   as"
                        "f  f   f";
    
   
}

header{
    grid-area: a;
    
}
h2{
    text-align: center;
    color: white;

}

article{
    grid-area: ar;
    border: 1px solid rgb(238, 76, 76);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
aside{
    grid-area: as;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}
nav{
    grid-area: n;
    color: white;
    text-align: center;
}
nav ul{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
    padding-left:10px ;
}
aside ul{
    padding-left:0px ;
}
nav li{
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 5px

}
nav a {
    text-decoration: none;
   
}

.termek{
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
}


img{
 width: 100%;
}
aside li{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
}

footer{
    grid-area: f;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    color: white;

}

@media screen and (max-width:700px){
   main{
    border:1px solid rgb(170, 166, 166);
    border-radius: 5px;
    display: grid;
    grid-template-areas:"a  a   a"
                        "n  n   n"
                        "ar  ar   as"
                        "f  f   f";
   }
   article{
    grid-template-columns: 1fr 1fr;
   }

}
@media only screen and (max-width: 400px) {
    main{
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas: "a"
                                "as"
                                "n"
                                "ar" 
                                "f";
    }
    article{
        grid-template-columns: 1fr ;
       }


}

